{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}
{# set image = item.data.images | itemImages('urlPreview') | orderByKey('position') | first #}
<script type="x/template" id="vue-category-item">
    <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
        <div class="thumb-inner">
            <div class="cat-img">
                <img class="toItemLink lazyCat" :src="itemData.images | itemImages('urlPreview') | itemImage" :alt="itemData | itemName">
                <noscript>
                    <img :src="itemData.images | itemImages('urlPreview') | itemImage" :alt="itemData | itemName">
                </noscript>
            </div>
            <!-- ITEM DETAILS -->
            <div class="cat-content">
                <a :href="itemData | itemURL" class="thumb-title small" :title="itemData | itemName">
                    ${ itemData | itemName }
                </a>
                <div class="thumb-meta">
                    <div class="clearfix">
                        <div class="pull-left">
                                <div class="price-view-port" v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0">
                                    <del class="crossprice">
                                         ${ itemData.prices.rrp.price.formatted }
                                    </del>
                                </div>

                            <div class="price">
                                 ${ itemData.prices.default.unitPrice.formatted }
                            </div>
                        </div>
                        <div class="pull-right">
                            <span class="icon-dwandtatto-subpage-body-arrow toItemLink">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ./ITEM DETAILS  -->
        </div>
    </article>
</script>